.nav-list {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.nav-list__item {
  font-weight: bold;
  background-color: #81b3d2;
  border-bottom: 3px solid #9ac2db;
}
.nav-list__link {
  display: block;
  padding: 21px 22px;
  color: #ffffff;
  text-decoration: none;
}
.page-main {
  margin-top: -27px;
}
.page-main__photo {
  position: relative;
}
.page-main__index {
  position: absolute;
  margin-left: -650px;
  margin-top: 25px;
}
.page-main__name {
  position: absolute;
  margin-left: -650px;
  margin-top: 170px;
}
.page-main__title-photo {
  margin-top: 38px;
  margin-bottom: 38px;
  font-size: 18px;
}
.page-main__text {
  margin-bottom: 33px;
}
.main-slogan {
  background-image: url("../img/bg-intro-triangle-mobile.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.advantages-pics {
  padding-left: 0;
  margin-top: 40px;
  padding-top: 32px;
  color: #ffffff;
  background-color: #81b3d2;
}
.advantages-pics__photo {
  display: block;
  padding-bottom: 0;
}
.advantages-bonus {
  padding-left: 0;
  margin-top: 40px;
  list-style: none;
}
.advantages-no-pics {
  padding-left: 0;
  list-style: none;
}
.advantages-no-pics__item--grey {
  padding-top: 32px;
  padding-bottom: 32px;
  margin-bottom: 0;
  background-color: #eeeeee;
}
.booking {
  margin-top: 33px;
  margin-bottom: 0;
}
.booking__text {
  margin-bottom: 42px;
}
.booking__location {
  margin-top: 49px;
}
.album {
  padding-left: 0;
  padding-bottom: 0;
  list-style: none;
}
.album__item {
  padding-top: 23px;
  padding-bottom: 25px;
  border-top: 2px solid #e5e5e5;
}
.album__author {
  text-transform: none;
}
.promo {
  margin-top: 40px;
}
.reviews {
  margin-top: 19px;
  font-weight: bold;
}
.reviews__title {
  display: block;
  margin-top: 25px;
  margin-bottom: 40px;
  font-size: 18px;
}
.reviews__text,
.reviews__radio {
  border-bottom: 2px solid #f2f2f2;
}
.reviews-info {
  border-bottom: 2px solid #f2f2f2;
}
.reviews-impression {
  list-style: none;
}
.reviews-impression__item-label {
  text-transform: none;
}
.showplaces {
  border-bottom: 2px solid #f2f2f2;
}
.showplaces-list {
  list-style: none;
}
.feedback__user-text {
  width: 280px;
  min-height: 160px;
  margin-bottom: 52px;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}
.button {
  padding: 21px 46px;
  font-size: 21px;
  background-color: #81b3d2;
  color: #ffffff;
  text-decoration: none;
}
.input-general__item-input {
  width: 230px;
  height: 60px;
  padding-left: 20px;
  margin-left: 16px;
}
.checkbox-general__label {
  text-transform: none;
}
.page-footer {
  margin-top: 41px;
}
.social__link {
  display: block;
  width: 47px;
  height: 48px;
  background-color: #81b3d2;
  background-repeat: no-repeat;
  background-position: center;
  fill: #ffffff;
}
.social__svg {
  margin-top: 15px;
  margin-left: 15px;
}
.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 151px;
  list-style: none;
}
.developer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.developer__link {
  display: block;
  width: 27px;
  height: 34px;
  background-image: url("../img/htmlacademy.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Helvetica", serif;
  font-size: 14px;
  color: #000000;
  letter-spacing: 0;
  line-height: 21px;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*# sourceMappingURL=style.css.map */
